﻿@{
    ViewBag.Title = "Index";
}
@if (Model != null) { 
<div>    
Name: @Model.Nama <br />
IC: @Model.IC <br />
    IC: @Model.Bandar <br />
</div>
}
<h2>Analysis Here</h2>
<form method="post">
    <div class="form-group has-success">
        <input type="text" class="form-control span4" placeholder="IC No." name="ic" value="@(Model==null?"":Model.IC)">
        <input type="text" class="form-control " placeholder="Old IC No." name="oldic">
        <input type="text" class="form-control" placeholder="Name" name="name">
    </div>
    <button id="add" class="btn btn-primary">Add</button>
</form>
